.centeredContainer {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.newProjectContainer {
  width: 768px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px;
  /* align-items: center; */
  /* justify-content: center; */
}

.topBar {
  width: 100%;
  height: 72px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formParent {
  display: flex;
  flex-direction: column;
  /* height: 600px; */
  width: 100%;
  /* padding: 0 36px; */
  box-sizing: border-box;
  max-width: 1000px;
  gap: 24px;
}

.uploadMainContainer {
  max-width: 768px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  
}

.uploadMainContent {
    box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 16px;
  min-height: 250px;
  min-width: 500px;
  padding: 64px 36px 64px 36px;
}

.uploadButton {
  height: 40px;
  width: 160px;
}

.uploadMainContainer.dragging {
  border: 2px dashed var(--accent-base);
  background-color: #f0f8ff;
}

.uploadTitle {
  font-size: 18px; /* Updated to 18 pixels */
  font-weight: 500;
  color: #000000; /* Color black */
}

.uploadSubtitle {
  font-size: 13px; /* Updated to 14 pixels */
  font-weight: 400;
  color: #6f6f6f; /* Color black */
}

@keyframes errorHighlight {
  0% {
    border-color: var(--accent-base);
  }
  100% {
    border-color: var(--fg-faint); /* or your default border color */
  }
}

.errorBorder {
  animation: errorHighlight 1s ease-out;
}

.uploadedFileContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  /* padding: 10px; */
  border-radius: 4px;
  /* margin-top: 10px; */
  max-width: 768px;
  min-width: 500px;
  width: 100%;
  min-height: 250px;
  padding: 0 36px;
}

.uploadedFileInfo {
  display: flex;
  align-items: center;
}

.fileIcon {
  margin-right: 10px;
}

.fileName {
  font-size: 16px;
  font-weight: 500;
}

.dragging {
  border: 2px dashed #007bff;
  background-color: #f0f8ff;
}

.errorMessage {
  color: red;
  font-size: 0.875rem;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.statusMessage {
  font-size: 1rem;
  color: #333;
}

.stepsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 0;
  min-width: 500px;
  width: 100%;
}

.step {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkIcon {
  color: green;
  font-size: 24px;
}

.circleIcon {
  color: gray;
  font-size: 24px;
}

.loaderIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.stepLoader .spinner {
  width: 12px;
  height: 12px;
  border-width: 2px;
}

.stepText {
  font-size: 1rem;
  color: #333;
}

.exampleFilesContainer {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
}

.exampleFile {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.exampleFile:hover {
  /* cursor: pointer; */
  /* border: 1px solid var(--accent-base); */
  border-radius: 8px;
  /* background-color: var(--accent-base-light); */
  background-color: rgba(0, 0, 0, 0.1);
}

.exampleFileIcon {
  color: var(--accent-base);
}

.exampleFileName {
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .newProjectContainer {
    padding: 16px;
  }
  .uploadedFileContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .topBar h1 {
    font-size: 1.25rem;
  }
}
