.label {
  font-size: 14px;
  font-weight: 600;
  color: var(--fg-base);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 100%;
}

.input {
  min-height: 100%;
  width: 100%;
  scroll-padding-block: 16px;
}
